body {
	font-family: "Playfair Display";
	background: "#E5FCC2"
}

.heading {
	font-size: 40px; 
	line-height: 64px; 
	border-width: 0px 0px 1px 0px; 
	border-style: dotted;
}

.sub-heading {
	font-size: medium;
}

.container {
	background: #e74c3c;
	color: white;
	margin: 0px auto;
	width: 390px;
  	height: 250px;
	position: relative;
}

form {
  padding-right: 40px !important;
}

form input[type=text],
form input[type=password] {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	padding-left: 15px;
	background: #fff;
	border: none;
	color: #e74c3c;
	outline: none;
}

.button {
	border: none;
    display: block;
    background: #136899;
    height: 40px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;

    -webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}